/* More intuitive box-sizing */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    line-height: 2;
    letter-spacing: 1px;
}

.section-text {
    text-align: center;
}

.time-line-item {
    text-align: center;
}

.time {
    font-size: 18px;
}

.title {
    font-size: 22px;
}

#hero {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/hero-background.jpg);
    background-size: cover;
}

#hero img {
    border-radius: 90%;
}
