html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    line-height: 2;
    letter-spacing: 1px;
}

.section-text {
    text-align: center;
}

.time-line-item {
    text-align: center;
}

.time {
    font-size: 18px;
}

.title {
    font-size: 22px;
}
