/* More intuitive box-sizing */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

nav {
    /* background-color: rgb(190, 49, 68); */
    background-color: rgb(80, 100, 150);
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    z-index: 1;
}
@media screen and (max-width: 400px) {
    nav {
        justify-content: center;
    }
}

nav a {
    padding: 1rem;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: rgb(69, 86, 125);
}

img {
    max-width: 100%;
}

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    line-height: 2;
    letter-spacing: 1px;
}

.section-text {
    text-align: center;
}

.time {
    font-size: 18px;
}

.time-line-item {
    text-align: center;
}

.time-line-item img {
    width: 200px;
}

#seneca-logo {
    background-color: rgb(220, 52, 40);
    padding: 46px 10px;
}

.title {
    font-size: 22px;
}

#hero {
    width: 100vw;
    height: 100vh;
    /* this gradient makes the image a little darker */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../img/hero-background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
}

#hero h1 {
    font-size: 3.5rem;
}

#hero p {
    font-size: 2.5rem;
}

#hero img {
    border-radius: 50%;
    filter: brightness(80%);
}
@media screen and (max-width: 800px) {
    #hero img {
        margin-top: 50px;
        width: 70%;
    }
    #hero {
        flex-wrap: wrap;
    }
}
